

.stage {
  background: #404853;
  display: flex;
  justify-content: space-around;
}
.stage-participant {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stage-participant .name {
  background: #1F2835;
  color: #fff;
  padding: 15px;
}
.stage-participant .name h6 {
  font-size: 16px;
}
.stage-participant .name i {
  font-size: 12px;
  margin-left: 7px;
}
.stage-participant .volume {
  width: 100%;
  height: 5px;
  border-radius: 2px;
  background: #EC7779;
  margin-top: 10px;
}
.stage-participant img {
  width: 150px;
  height: 150px;
  background: #ddd;
  border-radius: 50%;
  align-self: center;
}
.stage-participant .flex-fix {
  height: 65px;
}
